.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    .textField{
        border-radius: 5px;
        background-color:#fff
    }
}

@media (max-width:"600px"){
    .form{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 90%;
        height: calc(100vh - 250px);
    }
}
