.dark-postcard{
    background-color:#022546 !important;
    color:white !important;
    transition: all 0.2s linear !important;
    box-shadow: 0 0 2px 0.2px #fff !important ;
    animation: fadeEffect 2s linear;
}

@keyframes fadeEffect {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    60%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}

.light-postcard{
    background-color:#fff !important;
    color:#022546 !important;
    transition: all 0.2s linear !important;
    animation: fadeEffect 2s linear;

}
.postsBody{
    font-style: italic;
}

.dark-btn{
    border:1px solid #022546 ;
    color: #022546 
}
.light-btn{
    box-shadow: 0 0 1px 0 #fff !important ;
    color:#fff !important
}