@import './Assets/scss/normalize.scss'; 
@import './Assets/scss/fonts.scss';
@import './Assets/scss/generals.scss';
@import './Assets/scss/variables.scss'; 


.container{
    transition: all 0.2s linear !important;
}
@media (max-width:"600px") {
    .GridSidebar{
        z-index: 100;
        height: 200px !important;
    }
}
