@import './Assets/scss/normalize.scss'; 
@import './Assets/scss/fonts.scss';
@import './Assets/scss/generals.scss';
@import './Assets/scss/variables.scss'; 


.container{
    transition: all 0.2s linear !important;
}
.MuiCardHeader-title{
    font-size: 22px !important;
}

/* width */
::-webkit-scrollbar {
    height: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      box-shadow:0 0 1px 0 rgba(149, 157, 165, 0.2);
      background-color:white
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color:rgba(149, 157, 165, 0.2);
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(149, 157, 165, 0.2); 
  }

@media (max-width:"600px") {
    .GridSidebar{
        z-index: 100;
        height: 200px !important;
    }
}
